# Ignore everything by default
*

# Do not ignore directories (so git traverses them)
!*/

# Unignore version-controlled root files
!.gitignore
!Makefile
!Justfile
!PKGBUILD
!LICENSE
!README.md
!AGENTS.md
!CODE_OF_CONDUCT.md

# Unignore helper scripts
!build.sh
!package.sh

# Unignore Go module manifests
!go.mod
!go.sum

# Unignore all .go files
!src/*.go
src/gopath/*
