# Ignore everything in the root by default
/*

# Do not ignore these specific files in the root
!/.gitignore
!/Makefile
!/Justfile
!/PKGBUILD
!/LICENSE
!/README.md
!/AGENTS.md
!/CODE_OF_CONDUCT.md
!/build.sh
!/package.sh
!/go.mod
!/go.sum

# Do not ignore the cmd directory and its contents
!/cmd/
!/packaging/
